#full-page {
    display: flex;
    flex-direction: column;
    min-height: 80vh;
    justify-content: center;
}

h2, p {
    text-align: center;
    margin: 20px;
}

form {
    width: 320px;
    margin: 10px auto;
    text-align: center;
}

#inputfile-wrapper {
    display: inline-block;
    position: relative;
    padding-bottom: 30px;
    margin: 0px;
    padding: 0px;
    width: auto;
    height: auto;
}

#inputfile-real {
    display: none;
    width: 100%;
    height: 100%;
}

#inputfile-button {
    display: inline-block;
    padding: 8px 16px;
    background-color: red;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

#inputfile-text {
    margin-top: 20px;
    display: block;
}

label {
    padding: 10px;
    display: block;
}

select {
    margin-top: 10px;
}

#format-section {
    width: 300px;
    margin: 10px auto;
}

#format-section select {
    width: 85%;
}

button {
    background-color: grey;
    color: white;
    font-weight: bold;
    font-size: 120%;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    margin-top: 40px;
    margin-bottom: 30px;
}